img {
    position: fixed;
    top: 25vh;
    left: 41vw;
}
.rightalign {
    float: right;
    margin-right: 20px;
}
.leftalign {
    float: left;
    margin-left: 20px;
}
.border {
    padding-top: 15px;
}
footer {
    background-color:#f2f2f2;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px 0px 10px;
    margin-left: -10px;
}
input {
    outline: none;
    width: 19vw;
    position: fixed;
    top: 41.2vh;
    left: 41.7vw;
    transform: scale(2.05);
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    font-size: 8px;
    padding: 6px;
    text-indent: 15px;
}
a {
    text-decoration: none;
    color: gray;
    font-weight: 100;
    font-family: "arial", sans-serif;
    font-size: 14px;
}
a:hover {
    text-decoration: underline;
}
.button1 {
    position: fixed;
    top: 50vh;
    left: 42.5vw;
    padding: 10px;
    border: 0px;
    appearance: push-button;
    border-radius: 5px;
    width: 8vw;
}
.button2 {
    position: fixed;
    top: 50vh;
    left: 51vw;
    padding: 10px;
    border: 0px;
    appearance: push-button;
    border-radius: 5px;
    width: 8vw;
}
button a {
    font-size: 90%;
}
button:hover {
    transform: scale(1.1);
}
.signin {
    background-color: #4285f4;
    padding: 9px;
    margin: 5px;
    color: white;
    font-weight: 700;
    border-radius: 3px;
}
.magnifying-glass {
    width: 25px;
    height: auto;
    position: fixed;
    top: 41vh;
    left: 32.3vw;
}
.microphone {
    width: 25px;
    height: auto;
    position: fixed;
    top: 41.3vh;
    left: 69vw;
}